<td></td>
<td>
  <%= @client.name %>
</td>

<td>
  <%= @client.email %>
</td>
<td>  
</td>
<td>
    <%= button_to 'Edit', edit_client_path(:id=>"#{@client.id}"), method: :get, :remote => true, class: 'edit btn' %>
</td>


<script type="text/javascript">
  $(document).ready(function() {
    $('.edit').click(function(event){
      console.log("Click en edit..");
    });
  });
</script>
