<div class="span1"></div>
<div class="span7">
  <div class="hero-unit">
    <h3>Holidays Remainder</h3>
    <img src="assets/happy_people.jpg" class="img-polaroid"/>
    <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend, est vel ultricies adipiscing, nisi nisl fringilla libero, tincidunt semper odio arcu id metus. Nullam quis neque ante. Suspendisse accumsan aliquet est. Vestibulum nisl odio, fermentum non consectetur et, lacinia vel dui. Fusce blandit nunc eu turpis luctus blandit. Ut vel condimentum elit. Integer non velit elit, in gravida turpis. Donec a velit eget nisi eleifend mollis vel ut mauris. Sed nunc dolor, tristique eget tincidunt id, iaculis nec purus. Pellentesque ac mauris risus, sed eleifend nulla.
  </p>
  <p><a class="btn btn-primary btn-large">Register</a></p>
  </div>
</div>
<div class="span3">
  <div class="hero-unit">
    <%= render 'sign_in_form' %>
  </div>
</div>
<div class="span1"></div>
</div>