<div class="span10">
  <div class="hero-unit">
    <div class="media" style="margin-top: -20px">
      <a class="pull-left" href="#" style="margin-top: -20px;padding-right:20px">
        <img class="media-object" src= "assets/ok.png" width="50px">
      </a>
      
      <div class="media-body">
        <p>Su registro ha finalizado con éxito. </p>
      </div>
    </div>
    <br/>
    <p>Antes de poder usar este servicio, debe realizar la confirmación del registro en el email que le hemos enviado.</p>
      <br/>
      <a href="/" class="btn">Go Home</a>      
   </div>
</div>
